@model EmployeeWebApp.Models.RegisterViewModel
@{          using (Html.BeginForm("Create", "Image", null, FormMethod.Post,
                                  new { enctype = "multipart/form-data" }))
    {


#line default
#line hidden

#line 2 "D:\Files\praktika\EmployeeWebApp\EmployeeWebApp\Views\Employee\Upload.cshtml"
        __o = Html.AntiForgeryToken();


#line default
#line hidden

#line 3 "D:\Files\praktika\EmployeeWebApp\EmployeeWebApp\Views\Employee\Upload.cshtml"



#line default
#line hidden

#line 4 "D:\Files\praktika\EmployeeWebApp\EmployeeWebApp\Views\Employee\Upload.cshtml"
        __o = Html.ValidationSummary(true);


#line default
#line hidden

#line 5 "D:\Files\praktika\EmployeeWebApp\EmployeeWebApp\Views\Employee\Upload.cshtml"



#line default
#line hidden

#line 6 "D:\Files\praktika\EmployeeWebApp\EmployeeWebApp\Views\Employee\Upload.cshtml"
        __o = Html.LabelFor(model => model.ImagePath);
}
<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend> Upload Image </legend>
            <label for="Image">Image</label>
            <input type="file" name="Image" />
            <br />
            <input type="submit" value="Upload" />
        </fieldset>
    </form>
    <h1>Uploaded Image</h1>
    @*@if (imagePath != "")
        {
            <div class="result">
                <img src="\@imagePath" alt="image" />

            </div>
        }*@

    @             Model);
</body>
</html>